<li>
	{{id}}
	{{burger_name}}
	{{#if devoured}}

	<button class="change-devoured float-right" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour It!
	</button>
	{{else}}
	<button class="delete-burger float-right" data-id="{{this.id}}">Discard!</button>
	{{/if}}
</li>